<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Shopping Cart Checkout Widget</title>
  <link rel="stylesheet" href="cr/css/style.css">

  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <div class="cart">
    <div class="cart-top">
      <h2 class="cart-top-title">Checkout</h2>
      <div class="cart-top-info">3 items</div>
    </div>

    <ul>
      ---------------------------
      <li class="cart-item">
        <span class="cart-item-pic">
          <img src="http://upload.wikimedia.org/wikipedia/en/a/a7/Random_Access_Memories.jpg">
        </span>
        Item #1
        <span class="cart-item-desc">Description</span>
        <button class="btn"><i class="fa fa-trash"></i> Trash</button>
        <span class="cart-item-price">$16.80</span>

      </li>

    ---------------------------------


    <div class="cart-bottom">
      Total: $54.80
      <a href="#" class="cart-button">Continue</a><br>
    </div>
  </div>
</body>
</html>
